/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*
Browsers sometimes add margins and paddings by default,
so here we make sure that won't be an inconvenient
by defining a rule with the use of the universal selector
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Avoids adding up borders and paddings to the total width or height specified by us */
}

body {
  /* Props related to fonts are usually inherited, that's why we define font rules inside the body tag */
  color: #777;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  padding: 30px;
}

.header {
  height: 95vh; /* X% of the viewport's height*/
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8)),
    url('../img/hero.jpg');
  background-size: cover; /* Will always try to cover the size of the element  */
  background-position: top; /* Tells how the background will act on resize, in this case the top part wont be cropped */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* We define a polygon in which the image will still be visible */
  position: relative;
}

.logo-box {
  left: 40px;
  position: absolute;
  top: 40px; /* the starting point is the parent who has declared a relative positioning */
}

.logo {
  height: 35px;
}

.heading-primary {
  color: #FFF;
  text-transform: uppercase ;
}

.text-box {
  position: absolute;
  top: 40%; /* Relative to parent's dimensions*/
  left: 50%; /* Relative to parent's dimensions*/
  transform: translate(-50%, -50%); /* Relative to element's itself dimensions*/
}

.heading-primary-main {
  display: block; /* Block elements occupy all the available width by default and left a line break after them */
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}
